@import url(style.css);


.tabela{
    width: 95%;
    height: 50vh;
    float: inline-end;
    background-color: var(--cor-section);
    margin: 4vh 0;
    border-radius: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}