@import url(style.css);


/*------------------------ Relatorios -------------------------*/

.title{
    font: bold 2rem 'Inter',sans-serif;
    text-align: center;
    margin: 5vh 0 3vh 0;
    color: var(--cor-titulos);
}

.rel-section{
    width: 95%;
    height: 50vh;
    float: inline-end;
    background-color: var(--cor-section);
    margin: 4vh 0;
    border-radius: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.funcionario-rel{
    width: 40%;
    height: 80%;
    background-color: var(--cor-section2);
    padding: 1vw;
    border-radius: 0.7vw;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.funcionario-rel h2, .cliente-rel h2{
    font: bold 1.2rem 'Inter',sans-serif;   
    margin: 1vh;
}

.cliente-rel{
    width: 40%;
    height: 80%;
    background-color: var(--cor-section2);
    padding: 1vw;
    border-radius: 0.7vw;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.funcionario-dados, .cliente-dados{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    
}

.funcionario-dados div, .cliente-dados div{
    text-align: center;
}



.funcionario-dados h1, .cliente-dados h1{
    font: bold 5rem 'Inter',sans-serif;
    margin: 3vw 2vw;
}

.funcionario-dados h5, .cliente-dados h5{
    font: bold 0.9rem 'Inter',sans-serif;
}

/*------------------------ Fim Relatorios -------------------------*/

/*------------------------ Link Cadastro -------------------------*/

.second-section{
    width: 95%;
    height: 50%;
    float: inline-end;
    background-color: var(--cor-section);
    border-radius: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register-link, .new-marks{
    height: 80%;
    background-color: var(--cor-section2);
    border-radius: 1vw;
}

.register-btn{
    background-color: var(--cor-header);
    display: inline-block;
    padding: 1vw;
    border-radius: 10vw;
}