@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-header: #2C2E3E;
    --cor-navbar: #1b1d27;
    --texto-header: #ffffff;
    --cor-body: #E9EAF0;
    --cor-borda: #808080;
    --cor-azul1: #3CCEF6;
    --cor-azul2: #90E7FF;
    --cor-vermelho: #F63C3F;
    --cor-section: #f6f6f6;
    --cor-section2: #EDEDED;
    --cor-titulos: #273B4A;
}

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-body);  
}

.blue{
    color: var(--cor-azul1);
}

.red{
    color: var(--cor-vermelho);
}

.gray{
    color: var(--cor-borda);
}