@model Domain.Domain.Usuario

@{
    ViewData["Title"] = "Remover Usuário";
}

<h1>Remover Usuário</h1>

<h3>Tem certeza que deseja remover o usuário @Model.Nome?</h3>
    
<form asp-action="DeletePost">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Remover" class="btn btn-danger" /> |
    <a asp-action="Index">Voltar</a>
</form>

