@import url(style.css);
@import url(dashboard.css);

.navbar-lateral{
    height:170%
}

.tabela{
    width: 95%;
    height: 50vh;
    float: inline-end;
    background-color: var(--cor-section);
    margin: 4vh 0;
    padding: 2vw 0;
    border-radius: 1vw;
    align-items: center;
}

.table{
    border-radius: 100px;
    overflow: hidden;
}

.cadastros{
    width: 95%;
    height: 87vh;
    float: inline-end;
    background-color: var(--cor-section);
    margin: 4vh 0;
    border-radius: 1vw;
    align-items: center;
}

.cad-space{
    background: #EDEDED;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);

}

.cad-title{
    display: flex;
    align-items: center;
}

.cad-btn{
    width: 100%;
    height: 6vh;
    background-color: var(--cor-titulos);
    transition: background-color 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
}

.cad-body a {
    text-decoration: none;
    color: white;
}

.cad-btn span {
    margin: 0 1vw;
    font-size: 1.2rem;
    font-weight: 500;
}

.cad-btn:hover{
    transition: background-color 100ms ease-in-out;
    background-color: #2E4E66;
}