@import url(site.css);
:root{
    --cor-header: #2C2E3E;
    --cor-navbar: #1b1d27;
    --texto-header: #ffffff;
    --cor-body: #E9EAF0;
    --cor-borda: #808080;
    --cor-azul1: #3CCEF6;
    --cor-azul2: #90E7FF;
    --cor-vermelho: #F63C3F;
    --cor-section: #f6f6f6;
    --cor-section2: #EDEDED;
    --cor-titulos: #273B4A;
    --cor-input: #1D1E28;
}


body {
    background-image: url(../img/login-background.jpg);
    background-repeat: no-repeat;
    font-family: Poppins, sans-serif;
}

body>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo{
    width: 200%;
    margin: 8vh 0;
}

.login-form {
    margin: 0 auto;
    background-color: var(--cor-header);
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.3vw;
    font-weight: 700;
}

.login-input{
    background-color: var(--cor-input);
    padding: 0.5vw 1vw;
    width: 75%;
    border-radius: 0.7vw;
    margin: 2vh 0;
    display: flex;
    align-items: center;
}

.login-input input{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: var(--texto-header);
    font-weight: 550;
    font-size: 1rem;

}

.login-input svg{
    margin-right: 1.1vw;
}

.login-btn{
    background: #2C2E3E;
    border: 1px solid #3CCEF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font: 700 1.1rem 'Inter', sans-serif;
    color: #91E7FF;
    width: 40%;
    height: 7vh;
    margin: 2vw 0;
    cursor: pointer;
}

.form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text p {
    color: var(--cor-azul1);
    font-size: 0.9rem;
    font-weight: 500;
}

.form-text p>span{
    color: var(--texto-header);
}

