@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-header: #2C2E3E;
    --cor-navbar: #1b1d27;
    --texto-header: #ffffff;
    --cor-body: #E9EAF0;
    --cor-borda: #808080;
    --cor-azul1: #3CCEF6;
    --cor-azul2: #90E7FF;
    --cor-vermelho: #F63C3F;
    --cor-section: #f6f6f6;
    --cor-section2: #EDEDED;
    --cor-titulos: #273B4A;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-body);
    height: 100%;
}

.blue {
    color: var(--cor-azul1);
}

.red {
    color: var(--cor-vermelho);
}

.gray {
    color: var(--cor-borda);
}

/*------------------------ Header -------------------------*/

h2 {
    color: var(--cor-titulos);
}

main {
    float: inline-end;
    height: 100vh;
    width: 95%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-header);
    width: 100%;
    height: 15vh;
}

.logo {
    width: 15vw;
    max-width: 170px;
    margin: 3vw 5vw;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5vw;
}

.user h3 {
    color: var(--texto-header);
    font: 500 normal 1.3rem 'Lato', sans-serif;
    margin-right: 1vw;
}

/*------------------------ Fim Header -------------------------*/

/*------------------------ NavBar -------------------------*/
.navbar-lateral {
    position: absolute;
    height: 120%;
    max-width: 80px;
    background: var(--cor-navbar);
}

.navbar-items {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navbar-items svg {
    width: 1.5rem;
}


/*------------------------ Fim NavBar -------------------------*/
