<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PontoFIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PontoFIT.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <img class="logo" src="img/logo.png" alt="Logo da PontoFIT"/>
        <div class="user">
            <h3>IGOR LIMA DE SOUSA</h3>
            <svg width="70" height="55" viewBox="0 0 81 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.5 0C12.3085 0 0 12.3085 0 27.5C0 42.6915 12.3085 55 27.5 55C42.6915 55 55 42.6915 55 27.5C55 12.3085 42.6915 0 27.5 0ZM27.5 10.6452C32.8891 10.6452 37.2581 15.0141 37.2581 20.4032C37.2581 25.7923 32.8891 30.1613 27.5 30.1613C22.1109 30.1613 17.7419 25.7923 17.7419 20.4032C17.7419 15.0141 22.1109 10.6452 27.5 10.6452ZM27.5 48.7903C20.9909 48.7903 15.1583 45.8407 11.255 41.2278C13.3397 37.3024 17.4204 34.5968 22.1774 34.5968C22.4435 34.5968 22.7097 34.6411 22.9647 34.7188C24.4062 35.1845 25.9143 35.4839 27.5 35.4839C29.0857 35.4839 30.6048 35.1845 32.0353 34.7188C32.2903 34.6411 32.5564 34.5968 32.8226 34.5968C37.5796 34.5968 41.6603 37.3024 43.745 41.2278C39.8417 45.8407 34.0091 48.7903 27.5 48.7903Z" fill="white" />
                <path d="M71.9849 31.7437L65.3442 25.103C64.8853 24.644 64.8853 23.9019 65.3442 23.4478L66.4478 22.3442C66.9067 21.8853 67.6489 21.8853 68.103 22.3442L72.8101 27.0513L77.5171 22.3442C77.9761 21.8853 78.7183 21.8853 79.1724 22.3442L80.2759 23.4478C80.7349 23.9067 80.7349 24.6489 80.2759 25.103L73.6353 31.7437C73.186 32.2026 72.4438 32.2026 71.9849 31.7437Z" fill="white" />
            </svg>
        </div>
    </header>

    <nav class="navbar-lateral col-6">
        <div class="navbar-items">
            <a href="">
                <svg viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.089 6.22623L5.16708 14.362V23.1428C5.16708 23.3701 5.25779 23.5882 5.41927 23.7489C5.58075 23.9097 5.79976 24 6.02812 24L12.0587 23.9845C12.2863 23.9833 12.5042 23.8925 12.6647 23.7319C12.8253 23.5712 12.9154 23.3538 12.9154 23.1272V17.9993C12.9154 17.772 13.0061 17.5539 13.1676 17.3932C13.3291 17.2324 13.5481 17.1421 13.7764 17.1421H17.2206C17.449 17.1421 17.668 17.2324 17.8295 17.3932C17.991 17.5539 18.0817 17.772 18.0817 17.9993V23.1235C18.0813 23.2363 18.1033 23.348 18.1464 23.4523C18.1896 23.5567 18.2529 23.6515 18.3329 23.7314C18.4129 23.8113 18.5079 23.8746 18.6126 23.9179C18.7172 23.9611 18.8294 23.9834 18.9427 23.9834L24.9711 24C25.1995 24 25.4185 23.9097 25.58 23.7489C25.7414 23.5882 25.8321 23.3701 25.8321 23.1428V14.3561L15.9124 6.22623C15.7958 6.13264 15.6505 6.08161 15.5007 6.08161C15.3509 6.08161 15.2056 6.13264 15.089 6.22623ZM30.7616 11.756L26.2627 8.06394V0.642929C26.2627 0.472414 26.1946 0.308882 26.0735 0.18831C25.9524 0.0677371 25.7882 0 25.6169 0H22.6032C22.432 0 22.2677 0.0677371 22.1466 0.18831C22.0255 0.308882 21.9574 0.472414 21.9574 0.642929V4.53318L17.1394 0.586673C16.677 0.207869 16.0968 0.000757234 15.498 0.000757234C14.8992 0.000757234 14.319 0.207869 13.8566 0.586673L0.234365 11.756C0.168973 11.8098 0.114871 11.8759 0.0751508 11.9505C0.0354308 12.0251 0.0108711 12.1068 0.0028749 12.1909C-0.00512131 12.275 0.00360275 12.3598 0.0285486 12.4406C0.0534944 12.5213 0.0941732 12.5963 0.14826 12.6614L1.52055 14.3223C1.57449 14.3876 1.64084 14.4417 1.71579 14.4814C1.79075 14.5212 1.87284 14.5458 1.95736 14.5539C2.04189 14.562 2.1272 14.5534 2.2084 14.5287C2.28959 14.5039 2.36509 14.4635 2.43057 14.4096L15.089 4.02956C15.2056 3.93597 15.3509 3.88494 15.5007 3.88494C15.6505 3.88494 15.7958 3.93597 15.9124 4.02956L28.5714 14.4096C28.6367 14.4635 28.7121 14.504 28.7932 14.5288C28.8743 14.5537 28.9595 14.5623 29.0439 14.5544C29.1284 14.5464 29.2104 14.522 29.2854 14.4824C29.3604 14.4429 29.4268 14.389 29.4808 14.3239L30.8531 12.663C30.9071 12.5976 30.9477 12.5221 30.9723 12.4411C30.997 12.36 31.0053 12.2748 30.9968 12.1906C30.9883 12.1063 30.9631 12.0245 30.9228 11.9499C30.8824 11.8753 30.8277 11.8094 30.7616 11.756Z" fill="white" />
                </svg>
            </a>

            <a href="">
                <svg viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5645 11.5C12.6481 11.5 15.1438 8.9279 15.1438 5.75C15.1438 2.5721 12.6481 0 9.5645 0C6.48094 0 3.98521 2.5721 3.98521 5.75C3.98521 8.9279 6.48094 11.5 9.5645 11.5ZM13.3903 13.1429H12.9768C11.9407 13.6562 10.7899 13.9643 9.5645 13.9643C8.33905 13.9643 7.1933 13.6562 6.15216 13.1429H5.7387C2.57046 13.1429 0 15.792 0 19.0571V20.5357C0 21.8962 1.07102 23 2.39112 23H16.7379C18.058 23 19.129 21.8962 19.129 20.5357V19.0571C19.129 15.792 16.5585 13.1429 13.3903 13.1429ZM23.9112 11.5C26.5514 11.5 28.6935 9.29241 28.6935 6.57143C28.6935 3.85045 26.5514 1.64286 23.9112 1.64286C21.271 1.64286 19.129 3.85045 19.129 6.57143C19.129 9.29241 21.271 11.5 23.9112 11.5ZM26.3024 13.1429H26.1131C25.4206 13.3893 24.6884 13.5536 23.9112 13.5536C23.1341 13.5536 22.4018 13.3893 21.7094 13.1429H21.5201C20.5039 13.1429 19.5674 13.4458 18.7454 13.9335C19.9609 15.2837 20.7231 17.0754 20.7231 19.0571V21.0286C20.7231 21.1415 20.6982 21.2493 20.6932 21.3571H29.4905C30.8106 21.3571 31.8817 20.2533 31.8817 18.8929C31.8817 15.715 29.3859 13.1429 26.3024 13.1429Z" fill="white" />
                </svg>
            </a>
            <a href="">
                <svg viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3967 26.0775C20.4572 26.0775 26.1808 20.3538 26.1808 13.2934C26.1808 6.23291 20.4572 0.509277 13.3967 0.509277C6.33624 0.509277 0.61261 6.23291 0.61261 13.2934C0.61261 20.3538 6.33624 26.0775 13.3967 26.0775ZM14.3967 5.48087C14.3967 4.92858 13.949 4.48087 13.3967 4.48087C12.8444 4.48087 12.3967 4.92858 12.3967 5.48087V13.0434C12.3967 13.7337 12.9563 14.2934 13.6467 14.2934H18.3683C18.9206 14.2934 19.3683 13.8457 19.3683 13.2934C19.3683 12.7411 18.9206 12.2934 18.3683 12.2934H14.3967V5.48087Z" fill="white" />
                </svg>
            </a>
            <a href="">
                <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 14.0625C16.3818 14.0625 19.5312 10.9131 19.5312 7.03125C19.5312 3.14941 16.3818 0 12.5 0C8.61816 0 5.46875 3.14941 5.46875 7.03125C5.46875 10.9131 8.61816 14.0625 12.5 14.0625ZM18.75 15.625H16.0596C14.9756 16.123 13.7695 16.4062 12.5 16.4062C11.2305 16.4062 10.0293 16.123 8.94043 15.625H6.25C2.79785 15.625 0 18.4229 0 21.875V22.6562C0 23.9502 1.0498 25 2.34375 25H22.6562C23.9502 25 25 23.9502 25 22.6562V21.875C25 18.4229 22.2021 15.625 18.75 15.625Z" fill="white" />
                </svg>
            </a>
            <a href="">
                <svg viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1301 0.763242C17.4069 1.01725 17.4527 1.43376 17.5444 2.26679C17.7109 3.78065 17.7941 4.53757 18.311 4.77335C18.3214 4.77809 18.3319 4.78266 18.3424 4.78704C18.867 5.00497 19.478 4.55051 20.7 3.64157L21.0572 3.37588C21.6894 2.9057 22.0054 2.67061 22.3636 2.68823C22.7218 2.70585 23.0133 2.97082 23.5962 3.50076L24.9262 4.70981C25.4937 5.22574 25.7775 5.4837 25.8403 5.81083C25.8579 5.9025 25.8626 5.99618 25.8543 6.08914C25.8244 6.42092 25.5679 6.70597 25.0548 7.27606C24.1054 8.3309 23.6308 8.85832 23.7164 9.33933C23.7395 9.46942 23.7882 9.59364 23.8597 9.70479C24.1238 10.1158 24.8305 10.18 26.2438 10.3085L26.5523 10.3366C27.3954 10.4132 27.817 10.4515 28.0767 10.7262C28.0846 10.7346 28.0924 10.7431 28.1 10.7517C28.35 11.0352 28.35 11.4585 28.35 12.3051V13.6951C28.35 14.5415 28.35 14.9647 28.1001 15.2482C28.0924 15.2569 28.0845 15.2654 28.0766 15.2739C27.8169 15.5485 27.3954 15.5868 26.5525 15.6634L26.2438 15.6915C24.8309 15.8199 24.1245 15.8841 23.8603 16.2949C23.7887 16.4062 23.74 16.5306 23.7168 16.6609C23.6314 17.1417 24.1059 17.669 25.055 18.7235L25.055 18.7236C25.568 19.2935 25.8244 19.5785 25.8543 19.9101C25.8627 20.0032 25.858 20.097 25.8403 20.1888C25.7774 20.5158 25.4938 20.7737 24.9264 21.2895L23.5963 22.4987C23.0133 23.0286 22.7219 23.2936 22.3637 23.3112C22.0055 23.3288 21.6894 23.0937 21.0573 22.6236L20.7004 22.3581C19.4781 21.449 18.867 20.9944 18.3423 21.2125C18.3318 21.2168 18.3215 21.2213 18.3112 21.226C17.7942 21.4617 17.7109 22.2188 17.5444 23.733C17.4527 24.5662 17.4069 24.9828 17.13 25.2369L17.1125 25.2526C16.8297 25.5 16.4106 25.5 15.5724 25.5H13.6275C12.7894 25.5 12.3704 25.5 12.0876 25.2526L12.0699 25.2368C11.7931 24.9828 11.7473 24.5662 11.6557 23.7332C11.4891 22.2193 11.4059 21.4624 10.889 21.2266C10.8786 21.2218 10.8682 21.2173 10.8576 21.2129C10.333 20.995 9.72198 21.4494 8.49993 22.3584L8.14266 22.6241L8.14265 22.6241C7.51053 23.0943 7.19447 23.3294 6.83628 23.3118C6.47809 23.2942 6.18662 23.0292 5.60369 22.4993L4.27374 21.2902C3.70621 20.7743 3.42245 20.5163 3.35958 20.1892C3.34197 20.0975 3.33727 20.0038 3.34563 19.9109C3.37547 19.5791 3.63202 19.294 4.14511 18.7239C5.09448 17.6691 5.56916 17.1417 5.48356 16.6606C5.46041 16.5306 5.41171 16.4064 5.34028 16.2952C5.07613 15.8842 4.36947 15.82 2.95613 15.6915L2.64765 15.6634C1.80458 15.5868 1.38305 15.5485 1.12337 15.2738C1.11544 15.2654 1.10765 15.2569 1.10002 15.2482C0.850006 14.9648 0.850006 14.5415 0.850006 13.6949L0.850006 12.3052C0.850006 11.4585 0.850006 11.0352 1.1001 10.7517C1.10768 10.7431 1.11541 10.7346 1.12328 10.7263C1.38297 10.4515 1.80459 10.4132 2.64782 10.3366L2.9562 10.3085C4.36993 10.18 5.0768 10.1157 5.34093 9.70454C5.41224 9.59351 5.46088 9.46946 5.48403 9.33955C5.56978 8.8584 5.09496 8.33083 4.14532 7.27567C3.63209 6.70541 3.37547 6.42028 3.34568 6.08839C3.33735 5.99555 3.34204 5.90199 3.35961 5.81045C3.42244 5.4832 3.70628 5.22516 4.27397 4.70908L5.60375 3.50019C6.18669 2.97025 6.47815 2.70528 6.83634 2.68766C7.19453 2.67005 7.51059 2.90513 8.14272 3.37531L8.50029 3.64127C9.72206 4.55003 10.3329 5.0044 10.8575 4.78662C10.8682 4.78219 10.8788 4.77758 10.8893 4.77278C11.4059 4.53695 11.4892 3.78017 11.6557 2.26662C11.7473 1.43376 11.7931 1.01733 12.0698 0.763336L12.0877 0.747248C12.3705 0.5 12.7894 0.5 13.6273 0.5H15.5726C16.4106 0.5 16.8296 0.5 17.1124 0.747339L17.1301 0.763242ZM14.6 18C17.6376 18 20.1 15.7614 20.1 13C20.1 10.2386 17.6376 8 14.6 8C11.5624 8 9.10001 10.2386 9.10001 13C9.10001 15.7614 11.5624 18 14.6 18Z" fill="white" />
                </svg>
            </a>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    









    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
